import { withContext } from '@documente/phrase';{{#pathToExternals}}
import externals from '{{{.}}}';{{/pathToExternals}}

const selectorTree = `
{{{selectorTree}}}
`;

const { test, add } = withContext(selectorTree, {{#pathToExternals}}externals{{/pathToExternals}}{{^pathToExternals}}{}{{/pathToExternals}});

{{#blocks}}
add `
{{{block}}}`;

{{/blocks}}

describe('specs from {{{sourceFileName}}}', () => {
{{#specs}}
  it('spec #{{specNumber}}', () => {
    test `
{{{spec}}}`;
  });

{{/specs}}
});
